.sec-title-style1,
.sec-title-style1 .decor,
.sec-title-style1 .title,
.sec-title-style1.max-width {
    position: relative;
    display: block;
}
.sec-title-style1 .text p,
.sec-title-style1 .title {
    color: #131313;
    font-weight: 700;
    text-transform: uppercase;
}
.sec-title-style1 .decor:after,
.sec-title-style1 .text .decor-left span,
.sec-title-style1 .text .decor-left:after,
.sec-title-style1 .text .decor-right span,
.sec-title-style1 .text .decor-right:after,
.sec-title-style1 .text .decor-right:before {
    position: absolute;
    top: 0;
    bottom: 0;
    background: orange;
    content: "";
}
.sec-title-style1 {
    margin-top: -9px;
    padding-bottom: 50px;
}
.sec-title-style1.max-width {
    max-width: 770px;
    margin: -9px auto 0;
    padding-bottom: 52px;
}
.sec-title-style1.pabottom50 {
    padding-bottom: 42px;
}
.sec-title-style1 .title {
    font-size: 36px;
    line-height: 46px;
}
.sec-title-style1 .title.clr-white,
.single-contact-address-box a {
    color: #fff;
}
.sec-title-style1 .decor {
    width: 70px;
    height: 5px;
    margin: 19px 0 0;
}
.sec-title-style1 .decor:before,
.sec-title-style1 .text .decor-left:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 5px;
    height: 5px;
    background: orange;
    border-radius: 50%;
    content: "";
}
.sec-title-style1 .decor:after,
.sec-title-style1 .text .decor-left:after {
    right: 10px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
}
.sec-title-style1 .decor span {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50px;
    height: 1px;
    background: orange;
    margin: 2px 0;
}
.sec-title-style1 .text {
    position: relative;
    display: block;
    margin: 7px 0 0;
}
.sec-title-style1 .text p {
    position: relative;
    display: inline-block;
    padding: 0 15px;
    font-size: 14px;
    line-height: 16px;
    margin: 0;
}
.sec-title-style1 .text.clr-yellow p {
    color: orange;
}
.sec-title-style1 .text .decor-left,
.sec-title-style1 .text .decor-right {
    position: relative;
    top: -2px;
    display: inline-block;
    width: 70px;
    height: 5px;
    background: 0 0;
}
.sec-title-style1 .text .decor-left span {
    left: 0;
    width: 50px;
    height: 1px;
    margin: 2px 0;
}
.sec-title-style1 .text .decor-right span {
    right: 0;
    width: 50px;
    height: 1px;
    margin: 2px 0;
}
.sec-title-style1 .text .decor-right:before {
    left: 0;
    width: 5px;
    height: 5px;
    border-radius: 50%;
}
.sec-title-style1 .text .decor-right:after {
    left: 10px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
}
.sec-title-style1 .bottom-text {
    position: relative;
    display: block;
    padding-top: 16px;
}
.sec-title-style1 .bottom-text p {
    color: #848484;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    margin: 0;
}
.sec-title-style1 .bottom-text.clr-gray p {
    color: #cdcdcd;
}
.contact-address-area {
    position: relative;
    display: block;
    background: #fff;
    padding: 100px 0 120px;
}
.contact-address-area .sec-title-style1.max-width {
    padding-bottom: 72px;
}
.contact-address-box {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.single-contact-address-box {
    position: relative;
    display: block;
    background: #131313;
    padding: 85px 30px 77px;
}
.single-contact-address-box .icon-holder {
    position: relative;
    display: block;
    padding-bottom: 24px;
}
.single-contact-address-box .icon-holder span:before {
    font-size: 75px;
}
.single-contact-address-box h3 {
    color: #fff;
    margin: 0 0 9px;
}
.single-contact-address-box h2 {
    color: orange;
    font-size: 24px;
    font-weight: 600;
    margin: 0 0 19px;
}
.single-contact-address-box.main-branch {
    background: #ebbeff;
    padding: 53px 30px 51px;
    margin-top: -20px;
    margin-bottom: -20px;
}
.contact-form,
.contact-form .inner-box,
.contact-info-area {
    background: #fff;
    position: relative;
    display: block;
}
.single-contact-address-box.main-branch h3 {
    color: #131313;
    font-size: 18px;
    font-weight: 700;
    margin: 0 0 38px;
    text-transform: uppercase;
    text-align: center;
}
.contact-form form,
.contact-form form .input-box,
.single-contact-address-box.main-branch .inner,
.single-contact-address-box.main-branch .inner ul li .text {
    position: relative;
    display: block;
}
.single-contact-address-box.main-branch .inner ul {
    position: relative;
    display: block;
    overflow: hidden;
}
.single-contact-address-box.main-branch .inner ul li {
    position: relative;
    display: block;
    padding-left: 110px;
    border-bottom: 1px solid #737373;
    padding-bottom: 23px;
    margin-bottom: 24px;
}
.single-contact-address-box.main-branch .inner ul li:last-child {
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
}
.single-contact-address-box.main-branch .inner ul li .title {
    position: absolute;
    top: 2px;
    left: 0;
    display: inline-block;
}
.single-contact-address-box.main-branch .inner ul li .title h4 {
    color: #131313;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    text-transform: capitalize;
    border-bottom: 2px solid #a5821e;
}
.single-contact-address-box.main-branch .inner ul li .text p {
    color: #131313;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    margin: 0;
}
.contact-form {
    -webkit-box-shadow: 0 3px 8px 2px #ededed;
    box-shadow: 0 3px 8px 2px #ededed;
    z-index: 3;
}
.contact-form .sec-title-style1 {
    position: relative;
    display: block;
    padding-bottom: 51px;
    width: 50%;
}
.contact-form .text-box {
    position: relative;
    display: block;
    margin-top: 19px;
    width: 50%;
}
.contact-form .text p {
    color: #848484;
    line-height: 26px;
    margin: 0;
}
.contact-form form input[type="email"],
.contact-form form input[type="text"],
.contact-form form textarea {
    position: relative;
    display: block;
    background: #fff;
    border: 1px solid #eee;
    width: 100%;
    height: 55px;
    font-size: 16px;
    padding-left: 19px;
    padding-right: 15px;
    border-radius: 0;
    margin-bottom: 20px;
    transition: 0.5s;
}
.contact-form form textarea {
    height: 130px;
    padding: 14px 15px 15px 19px;
}
.contact-form form input[type="email"]:focus,
.contact-form form input[type="text"]:focus,
.contact-form form textarea:focus {
    color: #222;
    border-color: #d4d4d4;
}
.contact-form form input[type="text"]::-webkit-input-placeholder {
    color: #848484;
}
.contact-form form input[type="text"]:-moz-placeholder {
    color: #848484;
}
.contact-form form input[type="text"]::-moz-placeholder {
    color: #848484;
}
.contact-form form input[type="text"]:-ms-input-placeholder {
    color: #848484;
}
.contact-form form input[type="email"]::-webkit-input-placeholder {
    color: #848484;
}
.contact-form form input[type="email"]:-moz-placeholder {
    color: #848484;
}
.contact-form form input[type="email"]::-moz-placeholder {
    color: #848484;
}
.contact-form form input[type="email"]:-ms-input-placeholder {
    color: #848484;
}
.contact-form form button {
    position: relative;
    display: block;
    width: 100%;
    background: orange;
    border: 1px solid orange;
    color: #131313;
    font-size: 16px;
    line-height: 55px;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
    transition: 0.2s linear 0.1s;
    cursor: pointer;
}
.contact-form form button:hover {
    color: #fff;
    background: #131313;
}
